################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/QuotationPortal/CopilotIndices/18.9.1306.19527
