################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs/QuotationPortal/CopilotIndices/18.9.1306.19527
/backend/.vs/QuotationPortal.slnx/copilot-chat/3370a435/sessions
/backend/.vs/QuotationPortal.slnx
/backend/QuotationPortal.Api/obj
/backend/QuotationPortal.Application/obj
/backend/QuotationPortal.Worker/obj
/backend/QuotationPortal.Tests/obj
/backend/QuotationPortal.Infrastrcuture/obj
/backend/QuotationPortal.Domain/obj
